<!DOCTYPE html>
<html>
<body>
<h1>We are fabulous ;)</h1> </br>

<h3> deployed on  : {{inventory_hostname}}<h3>
<h3> at : {{ansible_date_time.date}} {{ansible_date_time.time}}</h3>
<h3> version : {{site_version}} </h3>
</body>
</html>
